alabaster==0.7.9
Babel==2.3.4
docutils==0.13.1
imagesize==0.7.1
Jinja2==2.9.5
MarkupSafe==0.23
Pygments==2.2.0
pytz==2016.10
requests==2.13.0
setuptools-scm==1.15.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.2
